{% extends 'base.html' %}
{% block title %}Cadastrar Usuário{% endblock %}
{% block content %}
<h3 class="mb-4">Cadastrar Novo Usuário</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<form method="POST">
    <div class="mb-3">
        <label>Nome:</label>
        <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Senha:</label>
        <input type="password" name="senha" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Tipo de usuário:</label>
        <select name="tipo" class="form-control" required>
            <option value="vendedor">Vendedor</option>
            <option value="admin">Administrador</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
{% endblock %}
